{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}
	<h1>Restaurant</h1>

	<div>
		<span>Name :</span>
		<span>{{ restaurant.name }}</span>
	</div>
	<div>
		<span>Description :</span>
		<span>{{ restaurant.description }}</span>
	</div>

	<div>
		<h3>Commentaire:</h3>
		{% for avis in restaurant.avis %}
			<div>
				<span>Message:
					{{ avis.message }}</span>
			</div>
		{% endfor %}
		<div>
			<span>Note:
			</span>
		</div>

	{% endblock %}
